.module-view.module-navigation {
    @rowHeight: 50px;

    .nav-padding {
        width:100%;
        height: 100%;
    }
    .nav-controls-wrapper
    {
        padding: 20px;
    }
    .nav-control-button-row {
        height: 32px;
        /* text-align: justify; */
        display: flex;
        /* width: 65px; */
        /* justify-content: space-between; */
    }
    button {
        font-size: 16px;
        flex:1;
        @txtButtonWidth : 65px;

        &.sim-nav-row-1 {
            top: 0px;
        }
        &.sim-nav-row-2 {
            top: @rowHeight;
        }
        &.sim-nav-row-3 {
            top: @rowHeight * 2;
        }
        &.sim-nav-rot-clock {
            right:0px;
        }
        &.sim-nav-move-fwd {
            left:50%;
            margin-left: (@txtButtonWidth/2)* -1;
        }
        &.sim-nav-move-right {
            right: 0px;
        }
        &.sim-nav-move-back {
            left: 50%;
            margin-left: (@txtButtonWidth/2)* -1;
        }
    }
}