<div class="nav-viz-wrapper">

</div>
<div class="nav-controls-wrapper">
    <div class="nav-padding">
        <div class="nav-control-button-row">
            <button>
                <i class="fa fa-fx fa-rotate-left"></i> 
                <span>Left</span>
            </button>
            <button>
                <span>FWD</span>
            </button>
            <button>
                <i class="fa fa-fx fa-rotate-right"></i>
                <span>Right</span>
            </button>
        </div>
        <div class="nav-control-button-row">
            <button>
                <i class="fa fa-fx fa-arrow-left"></i>
                <span>Left</span>
            </button>
            <button>
                <span>Reset</span>
            </button>
            <button>
                <i class="fa fa-fx fa-arrow-right"></i>
                <span>Right</span>
            </button>
        </div>
        <div class="nav-control-button-row">
            <button>
                <i class="fa fa-fx fa-arrow-left"></i>
                <span>Left</span>
            </button>
            <button>
                <span>Back</span>
            </button>
            <button>
                <i class="fa fa-fx fa-arrow-right"></i>
                <span>Right</span>
            </button>
        </div>
    </div>
</div>