<div class="form-group">
    <label for="selectVesselConfiguration">Vessel Configuration</label>
    <select id="selectVesselConfiguration" class="demo-default" placeholder="Select a vessel">
        <option value="">Select a Vessel...</option>
        <option value="1">Foobar</option>
        <option value="4">Fooo</option>
        <option value="3">BARBARBAR</option>
    </select>
</div>
<div class="form-group">
    <label for="newProjectVesselLength" class="control-label">Vessel Length</label>
    <input id="newProjectVesselLength" class="form-control" placeholder="Vessel Length"></input>
    <i class="fa fa-fx fa-arrows-v"></i>
</div>
<div class="form-group">
    <label for="newProjectVesselWidth" class="control-label">Vessel Width</label>
    <input id="newProjectVesselWidth" class="form-control" placeholder="Vessel Width"></input>
    <i class="fa fa-fx fa-arrows-h"></i>
</div>