@import "colors.less";
@import "constants.less";

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: @bg-color;
}
.pad-all {
    padding: @normalPadding;
}
.full-size-container {
    width: 100%;
    height: 100%;
}
#content
{
    margin-left: 64px;
    height: 100%;
    width: calc(~"100% - 64px");
    .app-container 
    {
        width: 100%;
        height: 100%;
    }
    .full-view-page {
        width: 100%;
        height: 100%;
    }
}
.row
{
    margin: 0px !important;
}