
/**Layout**/

/**Layout**/
body {
  background-color: #e7ebee;
}
.pad-all {
  padding: 15px;
}

/**@import "colors.less";
@import "globalAppStyle.less";*/


/**
 * Useful variables to change appearance, change at own will
 */
/**
 * Actuall styles goes here
 */
.page-panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

