@import "colors.less";

.navigation-container {
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    width: 64px;
    background-color: @navbar-bg-color;

    .navigation-button
    {
        width: 64px;
        height: 64px;
        font-size:40px;
        padding-left: 6px;
        color: white;
        background-color: @navbar-button-bg;
        display: inline-block;
        &:hover {
            background-color: lighten(@navbar-button-bg, 20%);
        }
        &:last-of-type {
            position: fixed;
            bottom:0px;
            left:0px;
            padding-top: 5px;
        }
    }
}