<div class="replay-info replay-time">
    <span class="replay-clock">10:32:13</span>
    <span class="replay-date">1 Dec 2014</span>
</div>
<div class="replay-file replay-info">
<dl>
    <dt>Num of Files</dt>
    <dd>27</dd>
    <dt>Num of Anomalies <i class="fa fa-info-circle" title="Number values which is not considered real (like inclinometer saying ship is upside down)"></i></dt>
    <dd>Faz</dd>
    <dt>bar</dt>
    <dd>baz</dd>
</dl>
</div>
<div class="replay-utils">
    <button>Plot on Chart</button>
    <button>Plot on map</button>
    <button>Export to excel</button>
</div>