.module-view.module-replay {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    .replay-info {
        font-size: 14px;
    }
    .replay-file {
          dt {
            float: left;
            clear: left;
            width: 170px;
            padding-right: 10px;
            font-style: normal;
          }

          dd {
            margin: 0 0 0 110px;
            padding: 0 0 0.5em 0;
          }
    }
    .replay-time {
        padding-bottom: 20px;
        text-align: center;
    }
    .replay-controls-wrapper {
        @playColor: rgb(181, 230, 29);
        @pauseColor: rgb(255,128,64);
        @grayPlayControlColor: rgb(192,192,192);

        text-align: center;
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 10px;
        .fa {
            padding: 5px;
            color: @grayPlayControlColor;
            &.fa-play {
                color: @playColor;
            }
            &.fa-pause {
                color: @pauseColor;
            }
        }
    }
    .replay-utils button {
        display: block;
        font-size: 16px;
        width: 100%;
        color: black !important;
    }
}